{% extends 'base/base.html' %}

{% block content %}
    {% load static %}
    
    <header>
        <h1 class="title-page__addReader">Detalles de {{reader.nombres}} </h1>
    <div class="nav">
        <ul class="nav-box">
            <li >
                <a href="{% url 'readers' %}" class="nav-box__items item-menu-activate">Volver</a>
            </li>
        </ul>
    </div>
    </header>
    <main>

        <div class="div-container-addForm background_filter"> 
            <form action="{% url 'deleteReader' reader.id %}" method="POST" class="align-end">
                {% csrf_token %}
                <button class="container-form__button color-delete center-items">
                    Eliminar            
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path></svg>
                </button>
            </form>
            <form method="POST" action="" class="container-addForm">
                {% csrf_token %}
                {{error}}
                <div class="content">
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Nombres</label>
                        <div class="border">
                            {{form.nombres}}
                        </div>
                    </div>
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Apellidos</label>
                        <div class="border">
                            {{form.apellidos}}
                        </div>
                    </div>
                    {% if  not reader.esDocente %}
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Año</label>
                        <div class="border">
                            {{form.año}}
                        </div>
                    </div>
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Seccion</label>
                        <div class="border">
                            {{form.seccion}}
                        </div>
                    </div>
                    {% endif %}
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Especialidad</label>
                        <div class="border">
                            {{form.especialidad}}
                        </div>
                    </div>
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Email</label>
                        <div class="border">
                            {{form.email}}
                        </div>
                    </div>
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Telefono</label>
                        <div class="border">
                            {{form.numeroTelefono}}
                        </div>
                    </div>
                    <div class="container-addForm--inputs">
                        <label for="" class="container-addForm--inputs__label">Direccion</label>
                        <div class="border">
                            {{form.direccion}}
                        </div>
                    </div>
                </div>
                <div class="container-addForm--inputs">
                    <button class="container-form__button color-update center-items">Modificar</button>
                </div>
            </form>
            <div class="align-end">
                <p class="textOpenModal">Libros leidos {{books.count}} </p>
            </div>
            <section class="">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>titulo</th>
                            <th>editorial</th>
                            <th>autor</th>
                            <th>edicion</th>
                            <th>disponible</th>
                            <th>detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr class="row">
                            <td class="content-list">{{book.idLibro.id}}</td>
                            <td class="content-list">{{book.idLibro.titulo}}</td>
                            <td class="content-list">{{book.idLibro.editorial}}</td>
                            <td class="content-list">{{book.idLibro.autor}}</td>
                            <td class="content-list">{{book.idLibro.edicion}}</td>
                            {% if book.estado %}
                            <td class="content-list">
                                <span class="error">Libro no devuelto</span>
                            </td>
                            <td class="content-list">
                                <div class="center-items">
                                    <a href="{% url 'loanDetails' book.id %}" class="ctaImg">
                                        <img src="{% static 'img/details.svg' %}" alt="" srcset="">
                                    </a>
                                </div>
                            </td>
                            {% else %}
                            <td class="content-list">
                                <span class="libro-disponible">Libro devuelto</span>
                            </td>
                            <td class="content-list">
                                <div class="center-items">
                                    <a href="{% url 'loanDetails' book.id %}" class="ctaImg">
                                        <img src="{% static 'img/details.svg' %}" alt="" srcset="">
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </section>
        </div>
    </main>
{% endblock %}



