{% extends 'base/base.html' %}

{% block content %}
    {% load static %}
    <header>
        {% include 'base/menu.html' %}
    </header>
    <main>
        <h1 class="title-page">Lectores</h1>
        <section class="container background_filter">
            <a href="{% url 'addReader' %}" class="ctaAdd">Añadir Lector</a>
            <table>
                <thead>
                    <tr>
                        <th class="content-list">ID</th>
                        <th class="content-list">nombres</th>
                        <th class="content-list">apellidos</th>
                        <th class="content-list">año</th>
                        <th class="content-list">especialidad</th>
                        <th class="content-list">seccion</th>
                        <th class="content-list">telefono</th>
                        <th class="content-list">libros leidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reader in readers %}
                    <tr class="row"> 
                        <td class="content-list">{{reader.id}}</td>
                        <td class="content-list">{{reader.nombres}}</td>
                        <td class="content-list">{{reader.apellidos}}</td>
                        <td class="content-list">{{reader.año}}</td>
                        <td class="content-list">{{reader.especialidad}}</td>
                        <td class="content-list">{{reader.seccion}}</td>
                        <td class="content-list">{{reader.numeroTelefono}}</td>
                        <td class="content-list">{{reader.loans_set.count}}</td>
                        <td class="content-list center-items">
                            <a href="{% url 'createLoan' reader.id %}" class="cta">Crear Prestamo</a>
                            <a href="{% url 'readerDetails' reader.id %}"><img src="{% static './img/details.svg' %}" alt="" class="ctaImg"></a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>
{% endblock content %}
